body {
  margin: 0px;
  padding: 20px 0;
  font-size: 18px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.header {
  padding: 0 20px;
  color: #ef9a92;
  background-color: #EEE;
  text-align: center;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
}

.footer {
  padding:5px;
  font-style:italic;
  font-size:small;
  text-align: center;
  margin: 10%
}




.button{
  border: 1px solid;
  color: #FFF;
  padding: 10px;
}

#login{
	padding: 0 5px;
	text-align: center;
	margin: 2px;
	color:#fea09f;;
	
	
	
}

a{
	text-decoration:none;
	font-size: large;
  border-radius: 10px;
  background-color: #fea09f;
  position:center;
}

a#button-entrar{
	padding-top: 10px;
}

p{
	padding-bottom: 5px;
}

input{
    border: 1px solid #999;/* No usar esta línea y dejar box-shadow hace efecto de profundidad*/
    border-radius:10px; /*probar con 10px se hacen ovalados los inputs*/
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
    font:bold 12px Arial, Helvetica, sans-serif;
    height: 24px;
    line-height: 20px;
    padding:0 2px;
    width: 200px;
	text-align: center;
}

#logo{
	width: 90px;
  height: 60px;
  border: 0px solid;
  margin: 0%;
  
}


.button:active{
    position: relative;
    top: 3px;
}

form{
	
	margin:1px;
	background-position: center;
}